@charset "UTF-8";


body{
    background-color: rgb(12, 228, 88);
     font-family: Arial, Helvetica, sans-serif;
     font-size: 15px;
     text-align: justify;
}
h1{   text-decoration: underline;
    color: darkblue;
    background-color: rgb(0, 153, 255);
}
h2 {
    color: darkred;
    background-color: rgb(255, 0, 85);
}
p {
    text-align: justify;
}