@charset "UTF-8"

*
 {  
      height: 100%;
}

body {
   text-align: justify;
   background-image: linear-gradient(to left, #026873 , #04BF8A );
}
main {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    border-radius: 1%;
    box-shadow: 5px 5px 10px #104459a5;
    width: 600px;
    padding: 10px;
    margin: auto;

}
h1 { color: #024059;
    text-align: auto;
    text-shadow: 1px 1px 0px #04BF8A;

}
h2 { color: #025940;

}